/* CSS HEX */
--bittersweet: #ff5e5bff;
--timberwolf: #d8d8d8ff;
--ivory: #ffffeaff;
--robin-egg-blue: #00cecbff;
--maize: #ffed66ff;

/* CSS HSL */
--bittersweet: hsla(1, 100%, 68%, 1);
--timberwolf: hsla(0, 0%, 85%, 1);
--ivory: hsla(60, 100%, 96%, 1);
--robin-egg-blue: hsla(179, 100%, 40%, 1);
--maize: hsla(53, 100%, 70%, 1);

/* SCSS HEX */
$bittersweet: #ff5e5bff;
$timberwolf: #d8d8d8ff;
$ivory: #ffffeaff;
$robin-egg-blue: #00cecbff;
$maize: #ffed66ff;

/* SCSS HSL */
$bittersweet: hsla(1, 100%, 68%, 1);
$timberwolf: hsla(0, 0%, 85%, 1);
$ivory: hsla(60, 100%, 96%, 1);
$robin-egg-blue: hsla(179, 100%, 40%, 1);
$maize: hsla(53, 100%, 70%, 1);

/* SCSS RGB */
$bittersweet: rgba(255, 94, 91, 1);
$timberwolf: rgba(216, 216, 216, 1);
$ivory: rgba(255, 255, 234, 1);
$robin-egg-blue: rgba(0, 206, 203, 1);
$maize: rgba(255, 237, 102, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-right: linear-gradient(90deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-bottom: linear-gradient(180deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-left: linear-gradient(270deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-top-right: linear-gradient(45deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-bottom-right: linear-gradient(135deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-top-left: linear-gradient(225deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-bottom-left: linear-gradient(315deg, #ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);
$gradient-radial: radial-gradient(#ff5e5bff, #d8d8d8ff, #ffffeaff, #00cecbff, #ffed66ff);